<form [formGroup]="formGroup" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>{{ id ? 'Editar' : 'Adicionar' }} prato</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row tipo">
        <div class="col selecao">
          <mat-radio-group formControlName="tipo">
            <mat-radio-button value="Pratos Principais">Prato Principal</mat-radio-button>
            <mat-radio-button value="Porções">Porção</mat-radio-button>
            <mat-radio-button value="Sobremesas">Sobremesa</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Nome do prato</mat-label>
            <input matInput formControlName="nome">
            @if (formGroup.controls['nome'].hasError('required')) {
              <mat-error>O nome do prato é <strong>obrigatório</strong>.</mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Link da imagem</mat-label>
            <input matInput formControlName="imagem">
            @if (formGroup.controls['imagem'].hasError('required')) {
              <mat-error>A imagem é <strong>obrigatória</strong>.</mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Descrição do prato</mat-label>
            <input matInput formControlName="descricao">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col selecao">
          Prato Vegetariano?
          <mat-radio-group formControlName="vegetariano">
            <mat-radio-button [value]="true">Sim</mat-radio-button>
            <mat-radio-button [value]="false">Não</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width" floatLabel="always">
            <mat-label>Preço</mat-label>
            <input matInput min="0" step="0.01" placeholder="0,00" lang="pt" type="number" formControlName="preco">
            <span matTextPrefix>R$&nbsp;</span>
            @if (formGroup.controls['preco'].hasError('required')) {
              <mat-error>O preço é <strong>obrigatório</strong>.</mat-error>
            }
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">{{ id ? 'Salvar' : 'Adicionar' }}</button>
    </mat-card-actions>
  </mat-card>
</form>
