<form [formGroup]="formGroup" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>
        {{ id ? 'Editar' : 'Novo' }} favorito
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Título" formControlName="titulo">
            @if (formGroup.controls['titulo'].hasError('required')) {
              <mat-error>Título é <strong>obrigatório</strong></mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Descrição" formControlName="descricao"></textarea>
            @if (formGroup.controls['descricao'].hasError('required')) {
              <mat-error>Descrição é <strong>obrigatório</strong></mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="URL" formControlName="url">
            @if (formGroup.controls['url'].hasError('required')) {
              <mat-error>URL é <strong>obrigatória</strong></mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Imagem" formControlName="imagem">
            @if (formGroup.controls['imagem'].hasError('required')) {
              <mat-error>Imagem é <strong>obrigatória</strong></mat-error>
            }
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="formGroup.invalid"
      >
        Salvar
      </button>
    </mat-card-actions>
  </mat-card>
</form>
