<h1 class="titulo">Cardápio</h1>
<div class="filtros">
  <div class="filtros-container">
    <mat-chip-set>
      <mat-chip-option
        *ngFor="let t of tipos"
        [class]="(isXSmall$ | async) ? 'botao-filtro-xs' : 'botao-filtro'"
        color="accent"
        [selected]="t === tipoSelecionado"
        (click)="tipoSelecionado = (tipoSelecionado === t ? null : t)"
      >
        {{t}}
      </mat-chip-option>
    </mat-chip-set>
  </div>
</div>
<mat-card *ngFor="let p of ((prato$ | async) || [] | filtrarPorTipo: tipoSelecionado)" class="example-card">
  <div class="container">
    <div *ngIf="(isXSmall$ | async) === false" class="imagem">
      <img mat-card-sm-image src="{{p.imagem}}">
    </div>
    <div class="descricao">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>{{p.nome}}</mat-card-title>
          <mat-card-subtitle
            [className]="(p.vegetariano | vegetariano).classe"
          >{{(p.vegetariano | vegetariano).texto}}</mat-card-subtitle>
          <div class="preco">{{p.preco | currency}}</div>
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content>
        <div
          [class]="(isSmall$ | async) ? 'texto-descricao-sm' : 'texto-descricao'"
        >
          {{p.descricao}}
        </div>
        <div *ngIf="(authService.logado$ | async) === true">
          <button
              [class]="(isSmall$ | async) ? 'botao-editar-sm' : 'botao-editar'"
              mat-stroked-button
              routerLink="/prato-edicao/{{p._id}}"
            >
              <mat-icon>edit</mat-icon>
              Editar
          </button>
        </div>
      </mat-card-content>
    </div>
  </div>
</mat-card>
