.container{
  display: flex;
}

.imagem{
  align-content: center;
  padding: .5em;
  border-radius: .5em;
}

.descricao{
  flex-grow: 1;
}

.preco{
  font-weight: 500;
  font-size: medium;
  text-align: right;
  padding-top: .5em;
  width: 5em;
}

img{
  object-fit: cover;
}

mat-card{
  margin: 1em;
  padding: 0em;
}

mat-card-header{
  padding-top: .8em;
}

mat-card-subtitle{
  font-weight: 500;
  font-size: small;
}

mat-card-title-group{
  margin-bottom: .2em;
}

.filtros {
  display: flex;
  justify-content: center;
  padding-top: .5em;
}

.vegetariano{
  color: lightgreen;
}

.nao-vegetariano{
  color: lightcoral
}


