.container{
  display: flex;
}

.imagem{
  align-content: center;
  padding: .5em;
  border-radius: .5em;
}

.descricao{
  flex-grow: 1;
}

.preco{
  font-weight: 500;
  font-size: medium;
  text-align: right;
  padding-top: .5em;
  width: 5em;
}

img{
  object-fit: cover;
}

mat-card{
  margin: 1em;
  padding: 0em;
}

mat-card-header{
  padding-top: .8em;
}

mat-card-subtitle{
  font-weight: 500;
  font-size: small;
}

mat-card-title-group{
  margin-bottom: .2em;
}

.filtros {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: .5em;
}

.botao-filtro-xs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.vegetariano{
  color: lightgreen;
}

.nao-vegetariano{
  color: lightcoral
}

.botao-editar{
  position: absolute;
  bottom: 15px; /* Ajuste o valor conforme necessário */
  right: 10px;
}

.botao-editar-sm{
  margin-top: .5em;
}

.texto-descricao{
  width: 80%;
}

mat-card{
  background-color: rgb(27, 39, 27);
}

.titulo{
  text-align: center;
  margin-top: 1.2em;
}
