<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isXSmall$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isXSmall$ | async) ? 'push' : 'side'"
      [opened]="(isXSmall$ | async) === false"
      [autoFocus]="false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/cardapio" routerLinkActive="active">Cardápio</a>
      <a mat-list-item routerLink="/sobre" routerLinkActive="active">Sobre</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      @if (isXSmall$ | async) {
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      }
      <span>Restaurante</span>

      <!-- Segundo https://v17.material.angular.io/components/toolbar/overview -->
      <span class="spacer"></span>

      @if ((authService.logado$ | async) === true) {
        @if (!(isXSmall$ | async)) {
          <button
            type="button"
            class="botao-adicionar"
            mat-flat-button
            color="accent"
            aria-label="Adicionar prato"
            routerLink="/prato-edicao"
            routerLinkActive="oculto"
          >
            <mat-icon>add</mat-icon>
            Novo
          </button>
        } @else {
          <button
            type="button"
            class="botao-adicionar-xs"
            aria-label="Adicionar prato"
            routerLink="/prato-edicao"
            routerLinkActive="oculto"
          >
            <mat-icon>add</mat-icon>
          </button>
        }
      }

      @if ((authService.logado$ | async) === false) {
        @if (!(isXSmall$ | async)) {
          <button
            type="button"
            mat-button
            aria-label="Fazer login na aplicação"
            routerLink="/auth"
            routerLinkActive="oculto"
          >
            <mat-icon>login</mat-icon>
              Fazer login
          </button>
        } @else {
          <button
            type="button"
            mat-icon-button
            aria-label="Fazer login na aplicação"
            routerLink="/auth"
            routerLinkActive="oculto"
          >
            <mat-icon>login</mat-icon>
          </button>
        }
      } @else {
        @if (!(isXSmall$ | async)) {
          <button
            mat-flat-button
            color="warn"
            (click)="authService.logout()"
          >
            <mat-icon>logout</mat-icon>
            Fazer logout
          </button>
        } @else {
          <button
            class="botao-logout-xs"
            (click)="authService.logout()"
          >
            <mat-icon>logout</mat-icon>
          </button>
        }
      }
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
