.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

a[mat-list-item].active::before {
  background-color: var(--mdc-list-list-item-focus-state-layer-color);
  opacity: var(--mdc-list-list-item-focus-state-layer-opacity);
}

mat-toolbar.mat-toolbar.mat-primary {
  z-index: 2;
}

.spacer {
  flex: 1 1 auto;
}

.oculto {
  display: none;
}

.botao-logout-xs{
  background-color: #f44336;
  color: white;
  border-style: none;
  border-radius: .5em;
  padding: .4em .5em;
}

.botao-logout-xs:hover{
  background-color: #f85448;
}

.botao-adicionar{
  margin-right: .5em !important;
}

.botao-adicionar-xs{
  background-color: #69f0ae;
  margin-right: .5em;
  border-style: none;
  border-radius: .5em;
  padding: .4em .5em;
}

.botao-adicionar-xs:hover{
  background-color: #87fac2;
}

.menu{
  background-color: rgb(50, 110, 55);
}

.mat-sidenav-container{
  background-color: rgb(39, 56, 39);
}

.mat-sidenav{
  background-color: rgb(59, 33, 33);
}
